* {
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
}

body {
  margin: 0;
  background-color: rgb(18, 18, 18);
}

.v-toolbar__prepend,
.v-toolbar__append {
  z-index: 1;
}

.v-toolbar {
  padding-top: env(safe-area-inset-top);
}

.v-bottom-navigation {
  height: calc(56px + env(safe-area-inset-bottom)) !important;
  padding-bottom: env(safe-area-inset-bottom);
}

.v-main {
  padding-top: calc(env(safe-area-inset-top) + 64px) !important;
  padding-bottom: calc(env(safe-area-inset-bottom) + 56px) !important;
}

.v-text-field .v-input__details {
  padding-top: 6px;
  padding-bottom: 12px;
  min-height: 0;
}

.v-input .v-input__details .v-messages:empty {
  display: none;
}

ul {
  list-style: inside;
}
