* {
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
}

.v-toolbar__prepend,
.v-toolbar__append {
  z-index: 1;
}

.v-bottom-navigation {
  padding-bottom: env(safe-area-inset-bottom);
}

ul {
  list-style: inside;
}
