* {
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
}

body {
  margin: 0;
  background-color: rgb(18, 18, 18);
}

.v-toolbar__prepend,
.v-toolbar__append {
  z-index: 1;
}

.v-toolbar {
  padding-top: env(safe-area-inset-top);
}

.v-bottom-navigation {
  height: calc(56px + env(safe-area-inset-bottom)) !important;
  padding-bottom: env(safe-area-inset-bottom);
}

.v-bottom-navigation__content .v-btn {
  opacity: 1 !important;
}

.v-bottom-navigation__content .v-btn.v-btn--selected .v-avatar{
  border: 2px solid rgb(33, 150, 243);
}

.v-main {
  padding-top: calc(env(safe-area-inset-top) + 64px + 16px) !important;
  padding-bottom: calc(env(safe-area-inset-bottom) + 56px + 16px) !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  min-height: 100vh;
}

.v-text-field .v-input__details {
  padding-top: 6px;
  padding-bottom: 12px;
  min-height: 0;
}

.v-input .v-input__details .v-messages:empty {
  display: none;
}

ul {
  list-style: inside;
}
